body {
  background-image: url(https://img.freepik.com/premium-vector/colorful-green-abstract-background_23-2148453700.jpg?size=626&ext=jpg&ga=GA1.2.1710786414.1665082925);
  padding: 0;
  height: 100%;
}

/* .place-holder {
  display: inline-block;
  width: 400px;
  height: calc(100vh - 30px);
  background-color: aqua;
  margin-left: auto;
  margin-right: auto;
} */

.highlight-move {
  background-color: rgb(222, 103, 238);
  /* width: 48px;
  height: 48px; */
  opacity: 10%;
}
.white {
  margin-left: 0;
  background-color: rgb(255, 255, 255);
  /* border-style: solid;
  border-width: 1px;
  border-color: black; */
  height: 50px;
  width: 50px;
  font-size: 1rem;
}

.black {
  background-color: rgb(30, 137, 48);
  /* border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255); */
  height: 50px;
  width: 50px;
  font-size: 1rem;
  color: white;
}

.highlight-kill {
  background-color: rgb(255, 50, 46);

  /* height: 50%;
  width: 50%; */
}
.line {
  /* background: url("/xxx.png"); */

  /* text-align: center; */
  /* align-content: center; */
  font-size: 0.01rem;
  /* text-indent: 5%; */
  display: inline-block;
}

.board {
  position: absolute;

  background-color: rgb(41, 194, 255);
  border-style: solid;
  border-width: 10px;
  border-color: rgb(12, 89, 30);
  border-radius: 10px;
  /* display: inline; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;

  /* margin-left: auto;
  margin-right: auto; */
  /* width: 400px; */
}

.horizontal-lines {
  font-size: 0;
}

/* chess pieces */

.soldier-1 {
  background-image: url("/pieces/s1.png");
  background-size: 50px;
}
.soldier-0 {
  background-image: url("/pieces/s0.png");
  background-size: 50px;
}

.elephant-1 {
  background-image: url("/pieces/e1.png");
  background-size: 50px;
}
.elephant-0 {
  background-image: url("/pieces/e0.png");
  background-size: 50px;
}

.horse-1 {
  background-image: url("/pieces/h1.png");
  background-size: 50px;
}
.horse-0 {
  background-image: url("/pieces/h0.png");
  background-size: 50px;
}

.bishop-1 {
  background-image: url("/pieces/b1.png");
  background-size: 50px;
}
.bishop-0 {
  background-image: url("/pieces/b0.png");
  background-size: 50px;
}

.queen-1 {
  background-image: url("/pieces/q1.png");
  background-size: 50px;
}
.queen-0 {
  background-image: url("/pieces/q0.png");
  background-size: 50px;
}
.king-1 {
  background-image: url("/pieces/k1.png");
  background-size: 50px;
}
.king-0 {
  background-image: url("/pieces/k0.png");
  background-size: 50px;
}

/* modal testing */

.modal {
  /* background-color: aquamarine; */

  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: center;
  color: white;
  background-color: rgb(93, 255, 134);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.hidden {
  display: none;
}
